.changelog-main {
    padding-top: 130px;
    padding-bottom: 129px;
}

.changelog-version {
    width: 800px;
    margin: 159px auto;
    margin-bottom: 140px;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 137px;
    padding-right: 136px;
    background: #FFFFFF;
    border: 2px solid #7A9CA5;
    box-shadow: 0px 24px 30px rgba(122, 156, 165, 0.31);
    gap: 15px;
}

.changelog-version-num {
    width: 90px;
    height: 90px;
    padding-top: 24px;
    background-color: #7A9CA5;
    border-radius: 100%;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -.015em;
    text-align: center;
    color: #fff;
}

.changelog-version-title {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #555;
}