.home-main {
    padding-top: 235px;
    padding-bottom: 235px;
    padding-left: 360px;
    background: url("/public/images/home-main-bg.png") no-repeat;
}

.home-main-above {
    padding-left: 28px;
    background: url('/public/images/main-above.svg') no-repeat;
}

.home-title {
    width: 510px;
    margin-top: 8.53px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.15;
    letter-spacing: -.01em;
    color: #141414;
}

.home-desc {
    width: 508px;
    margin-top: 24px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.7;
    color: #555555;
}

.home-main-link {
    display: block;
    width: 250px;
    margin-top: 34px;
    padding-top: 23px;
    padding-bottom: 24px;
    background-color: #5C8692;
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    letter-spacing: .12em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.home-features {
    margin-top: 151px;
    margin-left: 360px;
    margin-right: 360px;
}

.home-features-item {
    width: 300px;

    .features-item-title {
        margin-top: 19px;
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 26px;
        color: #141414;
    }

    .features-item-desc {
        font-family: "Manrope", sans-serif;
        margin-top: 11px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.65;
        letter-spacing: .02em;
        color: #555555;
    }

    .features-item-link {
        display: block;
        width: 180px;
        margin-top: 30px;
        padding-top: 18px;
        padding-bottom: 19px;
        border: 2px solid #5C8692;
        font-family: "Manrope", sans-serif;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: .12em;
        text-align: center;
        text-transform: uppercase;
        color: #141414;
    }
}

.home-about {
    margin-top: 150px;
    padding: 150px 360px;
    background-color: #EBF3F5;
    box-shadow: 0px 37px 60px rgba(0, 0, 0, 0.02);
}

.home-about-title {
    width: 435px;
    margin-top: 9px;
}

.home-about-desc {
    width: 529px;
    margin-top: 16px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.65;
    color: #555555;
}

.home-about-points {
    margin-top: 37px;
    gap: 10px;

    .about-points-item {
        width: 165px;
        padding: 17px 33px 19px;
        background-color: #FFFFFF;
        border: 1px solid #1E2C30;
        text-align: center;

        .points-item-title {
            margin-top: 14px;
            font-family: "Playfair Display", serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1.2;
            color: #141414;
        }
    }
}

.home-services {
    margin-top: 146px;
    margin-left: 360.9px;
    margin-right: 361.1px;
    background: url("/public/images/home-services-bg.png") no-repeat;
    background-position-x: 54%;
    background-position-y: 55%;

    .service-content {
        flex-direction: column;
        gap: 18px;
    }

    .service-content-bl {
        padding-bottom: 22px;
        border-bottom: 1px solid #9BB7BF;
    }
}

.home-services-above {
    text-align: center;
}

.home-services-title {
    width: 756px;
    margin: 9px auto;
    margin-bottom: 50px;
    text-align: center;
}

.home-services .service-title,
.home-services .service-divider,
.home-services .service-price {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 22px;
    color: #141414;
}

.home-services .service-divider {
    font-weight: 400;
    letter-spacing: .05em;
}

.home-services .service-from,
.home-services .service-note {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: .02em;
    color: #555555;
}

.home-services .service-price {
    font-weight: 400;
}

.home-services .service-note {
    margin-top: 5px;
    font-size: 18px;
}

.home-services-link {
    display: block;
    width: 249px;
    margin-top: 35px;
    padding-top: 23px;
    padding-bottom: 24px;
    border: 2px solid #5C8692;
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: .12em;
    text-align: center;
    text-transform: uppercase;
    color: #141414;
}

.home-testimonials {
    margin-top: 145px;
    padding: 147px 360px;
    background-color: #EDF5F7;
}

.home-testimonials-above,
.home-testimonials-title {
    text-align: center;
}

.home-testimonials-title {
    margin-top: 2px;
}

.home-testimonials-box {
    margin-top: 40px;
}

.home-testimonials-item {
    width: 582px;

    .testimonials-item-text {
        padding-top: 44px;
        padding-bottom: 44px;
        padding-left: 49px;
        padding-right: 44px;
        background-color: #fff;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.8;
        color: #141414;
    }

    .testimonials-item-user {
        padding-top: 26px;
        padding-bottom: 25px;
        padding-left: 51px;
        padding-right: 50.99px;
        background-color: #1E2C30;
        color: #fff;
    }

    .testimonials-item-rating {
        gap: 2.03px;
    }


    .user-name {
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: -.01em;
    }

    .user-country {
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: .03em;
    }

}

.home-benefits {
    margin-top: 144px;
    margin-left: 360px;
    margin-right: 360px;
}

.home-benefits-above {
    text-align: center;
}

.home-benefits-title {
    margin-top: 9px;
    text-align: center;
}

.home-benefits-box {
    margin-top: 43px;
    flex-wrap: wrap;
    row-gap: 35px;
}

.home-benefits-item {
    width: 330px;

    .benefits-item-title {
        margin-top: 25px;
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 1.2;
        color: #141414;
    }

    .benefits-item-desc {
        margin-top: 11px;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.65;
        letter-spacing: .02em;
        color: #555555;
    }
}

.home-appointment {
    margin-top: 161px;
    padding-top: 132px;
    padding-bottom: 131px;
    padding-left: 361px;
    padding-right: 360px;
    background-color: #EDF5F7;
}

.home-appointment-title {
    width: 453px;
    margin-top: 9px;
}

.home-appointment-desc {
    width: 534px;
    margin-top: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75;
    color: #555555;
}

.home-appointment-content {
    width: 445px;
    margin-top: 37px;
    border: 1px solid #95BFCB;
}

.home-appointment-contact {
    width: 288px;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    flex-direction: column;
    gap: 18px;

    .appointment-contact-item {
        gap: 19px;

        dl {
            font-family: "Manrope", sans-serif;
            color: #141414;
            line-height: 1.5;

            dt {
                font-weight: 900;
                font-size: 14px;
                letter-spacing: .08em;
                text-transform: uppercase;
            }

            dd {
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
}

.home-appointment-offer {
    width: 167px;
    padding: 12px 34px;
    background-color: #1E2C30;
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    color: #fff;

    .appointment-offer-title {
        margin-bottom: 6px;
        font-size: 13px;
        line-height: 1.75;
        letter-spacing: .1em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 6px;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 5px;
            height: 0;
            border: 1px solid #fff;
        }
    }

    .appointment-offer-subtitle {
        margin-top: 8px;
        font-size: 18px;
        line-height: 1.75;
        letter-spacing: .02em;
        text-align: center;
    }
}

.home-appointment-fm {
    width: 530px;
    padding: 66px 75px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
        display: block;
        width: 400px;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 54px;
        background: url("/public/images/user.png") no-repeat 15px;
        border: 1px solid #5C8692;
        outline: none;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #555555;

        &:nth-child(1) {
            background: url("/public/images/user.png") no-repeat 15px;
        }

        &:nth-child(2) {
            background: url("/public/images/mail.png") no-repeat 15px;
        }

        &:nth-child(3) {
            background: url("/public/images/phone.png") no-repeat 15px;
        }

        &:nth-child(4) {
            background: url("/public/images/book-open.png") no-repeat 15px;
        }
    }

    textarea {
        width: 399px;
        height: 136px;
        padding-top: 18px;
        padding-left: 53px;
        background: url("/public/images/edit.svg") no-repeat 15px 18px;
        border: 1px solid #5C8692;
        outline: none;
        resize: none;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #555555;
    }

    a {
        display: block;
        width: 399px;
        padding-top: 23px;
        padding-bottom: 23px;
        background-color: #5C8692;
        border: none;
        cursor: pointer;
        font-family: "Manrope", sans-serif;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: .12em;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
}

.home-blog {
    margin-top: 145px;
    margin-bottom: 150px;
    margin-left: 360px;
    margin-right: 360px;
}

.home-blog-box  {
    margin-top: 40px;
}