
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 1919px;
  margin: 0 auto;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.pos-r {
  position: relative;
}

.btn-clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.above {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #5C8692;
}
