
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 1919px;
  margin: 0 auto;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.pos-r {
  position: relative;
}

.btn-clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.above {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #5C8692;
}

.bl-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: .01em;
  color: #141414;
}

.page-main {
  padding-top: 118px;
  padding-bottom: 115px;
  background: url('/public/images/main-bg.png') no-repeat;
}

.page-main .page-main-above {
  text-align: center;
  color: #fff;
}

.page-main .page-main-title {
  width: 649px;
  margin: 8px auto;
  margin-bottom: 0;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.page-main-link {
  display: block;
  width: 250px;
  margin: 32px auto;
  margin-bottom: 0;
  padding-top: 23px;
  padding-bottom: 24px;
  background-color: #5C8692;
  border: none;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: .12em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}